{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container  mt-5">
		<div class="row">
			<div class="col">
				{% for flashError in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">{{ flashError }}</div>
				{% endfor %}

				<h1 class="h3 mb-3 font-weight-normal text-black">Inscription</h1>

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.Nom, {
            label: 'Nom'
        }) }}
		
				{{ form_row(registrationForm.Prenom, {
            label: 'Prénom'
        }) }}
				{{ form_row(registrationForm.email, {
            label: 'Adresse e-mail'
        }) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
				<div class="input-group date" data-provide="datepicker">

					<div class="input-group-addon">
						{{ form_row(registrationForm.Date, {
            label: 'Date de naissance'
        }) }}
						
					</div>
				</div>

				{{ form_row(registrationForm.adr, {
            label: 'Adresse '
        }) }}
		{{ form_row(registrationForm.type, {
            label: 'Profession'
        }) }}

				{{ form_row(registrationForm.tel, {
            label: 'Téléphone'
        }) }}
				{{ form_row(registrationForm.img, {
            label: 'Photo'
        }) }}

				<button type="submit" class="btn btn-primary mt-2">Inscription</button>
				{{ form_end(registrationForm) }}
			</div>
			<div class="col col-lg-6">
				<img src="/images/formulaire-dinscription.png" alt="" srcset="">
			</div>
		</div>


	</div>
{% endblock %}
